extends ../base

block content
    form(method="POST")
        input(type="password", placeholder="Old Password", name="password")
        input(type="password", placeholder="New Password", name="password")
        input(type="password", placeholder="New Password Confirmation", name="password")
        input(value="Change Password", type="submit")